extends base.pug

block content
  h1 Create
  p {#message}
  form(method='POST' action='/create')
    div.form-group
      label(for='data_text')
      input.form-control(type='txt' name='data_text' placeholder='Write data')
    div.form-group
      button.form-control(type='submit') Submit