extends base.pug

block content
  form(method='POST' action='/login')
    div.form-group
      label(for='username') Username:
      input.form-control(type='text', name='username')
    div.form-group
      label(for='pw') Password:
      input.form-control(type='text', name='pw')
    button(type='submit', class='btn btn-default') Login